@import "../shared";

.cart-container{
  height: 50vh;
  padding-right: 5px;
  .summary-left{
    .row{
      padding: 0 5px;
    }
    .top-left-cart{
      background-color: $black;
      color: $white;
      height: 17vh;
      display: flex;
      align-items: center;
      justify-content: center;
      .customer-summary{
        font-size: 1em;
      }
    }
    .bottom-left-cart{
      margin-top: 5px;
      overflow-y: auto;
      height: 30vh;
      .summary-description{
        width: 80%;
      }
      .summary-qty{
        width: 10%;
      }
      .summary-remove {
        width: 10%;
        .remove {
          padding-left: 10px;
          color: $red;
        }
      }
    }
  }

  .summary-right{
    background-color: $black;
    color: $white;
    .top-right-cart{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5vh;
      background-color: $green;
    }
    .bottom-right-cart{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 45vh;
      padding: 0 20px 0;
      hr{
        width: 96%;
        margin: 10px 0 10px 2%;
        background-color: $darkGrey;
      }
      .date-summary{

      }
      .current-out{

      }
      .current-in{

      }
      .total-row{
        font-size: 1.2em;
      }
      .btn-row{
        justify-content: center;
        margin-top: 5px;
        .cart-btn{
          color: $white;
          border: none;
          border-radius: 4px;
          padding: 5px 10px;
          &:hover{
            cursor: pointer;
          }
        }
        .cancel-btn{
          background-color: $red;
          margin-right: 20px;
        }
        .save-btn{
          background-color: $green;
          margin-left: 20px;
        }
      }
    }
  }
}