@import "../shared";

.cart-container{
  color: $white;
  margin: 5px;

  //details
  .details-container{
    background-color: $darkGrey;
    height: 70vh;
    .cart-header{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5vh;
      background-color: $green;
    }
    hr{
      width: 90%;
      margin: 10px 0 10px 5%;
      background-color: $darkGrey;
    }
    .customer-summary{
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 1em;
      }
    }
    .time-summary{
      width: 100%;
    }
    .cost-summary{
      font-size: 1.2em;
    }
    .btn-row{
      width: 100%;
      margin: 10px 0;
      .btn-col{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .cart-btn{
        color: $white;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: .8em;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  //order
  .current-order{
    margin: 5px 0;
    outline: 1px solid $lightGrey;
    background-color: $white;
    .order-header{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5vh;
      background-color: $green;
    }
    .order-list{
      height: 18vh;
      overflow-y: auto;
      color: $black;
      th{
        border: none;
      }
      .summary-description{
        width: 90%;
      }
      .summary-qty{
        width: 10%;
      }
    }
  }
}