@import "../shared";

.cart-container{
  height: 50vh;
  padding-right: 5px;
  .summary-left{
    .row{
      padding: 0 5px;
    }
    .top-left-cart{
      background-color: $black;
      color: $white;
      height: 17vh;
      display: flex;
      align-items: center;
      justify-content: center;
      .name-summary{
        font-size: 1em;
      }
    }
    .bottom-left-cart{
      margin-top: 5px;
      overflow-y: auto;
      height: 30vh;
      .summary-description{
        width: 75%;
      }
      .summary-qty{
        width: 25%;
        .remove{
          padding-left: 10px;
          color: $red;
          background-color: $white;
        }
      }
    }
  }
  .summary-right{
    background-color: $black;
    .top-right-cart{
      padding: 15px 0;
      color: $white;
      background-color: $green;
    }
  }
}