@import "../shared";

.orders-container{
  padding: 10px;
  .orders-table{
    height: 30vh;
    overflow: auto;
    outline: 1px solid $lightGrey;
    background-color: $white;
    td{
      padding: 5px 10px;
    }
  }

  .order-name{
    padding: 10px;
    list-style-type: none;
    &:hover{
      background-color: $lightGrey;
    }
    .view-btn{
      background-color: $green;
      color: $white;
      border-radius: 4px;
      padding: 3px 5px;
      font-size: .8em;
      float: right;
    }
  }
  .view-col{
    width: 15%;
    .view-btn{
      color: $white;
      background-color: $green;
      font-size: .6em;
    }
  }

  .orders-view{
    padding: 5px;
    height: 58vh;
    margin-top: 1vh;
    outline: 1px solid $lightGrey;
    background-color: $white;
    .customer-header{
      background-color: $green;
      color: $white;
      padding: 5px 0;
    }
    .return-btn{
      background-color: $red;
      color: $white;
      border: none;
      border-radius: 4px;
      margin: 5px 0;
      padding: 5px 10px;
      font-size: .8em;
    }
    .customer-body{
      padding: 10px 10px 0;
      font-size: .7em;
    }
  }
  .view-zip{
    padding-left: 20px;
  }
  .view-list {
    display: block;
    height: 15vh;
    overflow-y: auto;
    .view-list-item {
      list-style: none;
      font-size: 1.25em;
      .list-item-qty{
        float: right;
        color: $red;
      }

    }

  }
  .view-total{
    background-color: $green;
    color: $white;
    margin-top: 15px;
    padding: 5px 0;
   }
}
