@import "../shared";

.orders-container{
  padding: 10px;
  .orders-table{
    height: 30vh;
    overflow: auto;
    outline: 1px solid $lightGrey;
    background-color: $white;
    td{
      padding: 5px 10px;
    }
  }
  .order-row{
    &:hover{
      background-color: $lightGrey;
    }
    .order-name{
      width: 70%;
    }
    .view-col{
      width: 15%;
      .view-btn{
        color: $white;
        background-color: $green;
        font-size: .6em;
      }
    }
  }
  .orders-view{
    padding: 5px;
    height: 58vh;
    margin-top: 1vh;
    outline: 1px solid $lightGrey;
    background-color: $white;
    .customer-header{
      background-color: $green;
      color: $white;
      padding: 5px 0;
    }
    .customer-body{
      padding: 10px 10px 0;
      font-size: .7em;
    }
  }
}
