@import "../shared";

.orders-container{
  height: 25vh;
  padding: 5px;
  .orders-results{
    height: 20vh;
    overflow: auto;
    .order-row{
      background-color: $midGrey;
      margin: 5px 0;
      .order-name{
        width: 70%;
      }
      .order-btn{
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 4px;
        &:hover{
          cursor: pointer;
        }
      }
      .view-col{
        width: 15%;
        .view-btn{
          color: $white;
          background-color: $green;
        }
      }
      .return-col{
        width: 15%;
        .return-btn{
          color: $white;
          background-color: $red;
        }
      }
    }
  }
}