@import "../shared.scss";

.inventory-row{
  padding-bottom: 10px;
  .inventory-table{
    height: 55vh;
    overflow-y: scroll;
    .table{
      width: 100%;
    }
  }
}

h3{
  font-size: 1em;
}

.description{
  width: 60%;
}

.table-counter{
  width: 20%;
}

.available{
  width: 10%;
}

.price{
  width: 10%;
}

.counter{
  .minus{
    color: $darkGrey;
    background-color: $white;
  }

  .plus{
    color: $green;
    background-color: $white;
  }

  h6{
    margin: 0 10px;
    display: inline-block;
  }
}