//colors
$white: #fff;
$offWhite: #f6f7fb;
$black: #000;
$lightGrey: #d0d0d0;
$midGrey: #9a9a9a;
$darkGrey: #3e3e3e;
$purple: #802dc7;
$red: #ff0000;
$green: #32bf9c;


html{
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 5px 0;
}

h2{
  font-size: 1.2em;
}

hr{
  margin: 0;
}

.row{
  margin: 0;
  padding: 0;
}

.content-row{
  height: 95vh;
  overflow: hidden;
  margin: 0;
  background-color: $offWhite;
  .shared-col{
    margin: 0;
    padding: 0;
  }
}
